<app-header></app-header>
<app-menu></app-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div id="user-profile">
        <div class="row">
          <div class="col-12">
            <div class="card profile-with-cover">
              <div class="media profile-cover-details w-100">
                <div class="media-left pl-2 pt-2">
                  <a class="profile-image"> <img class="rounded-circle img-border height-100" src="/assets/robust-admin/profile.png"
                      alt="Card image">
                  </a>
                </div>
                <div class="media-body pt-3 px-2">
                  <div class="row">
                    <div class="col">
                      <h3 class="card-title"> {{user.firstName}} {{user.lastName}}</h3>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="navbar navbar-light navbar-profile align-self-end">
                <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" aria-expanded="false"
                  aria-label="Toggle navigation"></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="card" style="margin-bottom: 0rem;">
          <div class="card-content">
            <div class="card-body">
              <div class="tab-pane" id="profile-link" role="tabpanel" aria-labelledby="link-tab32" aria-expanded="false">
                <h4 class="form-section">
                  <a id="models-tab" class="nav-link active"><i class="ft-user"></i>Thông tin cá nhân</a>
                </h4>
                <!-- Profile -->
                <div class="row">
                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;">Họ</h4>
                        <p class="card-text">{{user.firstName}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;">Tên</h4>
                        <p class="card-text">{{user.lastName}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;">E-mail</h4>
                        <p class="card-text">{{user.email}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;">Số điện thoại</h4>
                        <p class="card-text">{{user.phone}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;"> Ngày sinh</h4>
                        <p class="card-text">{{user.dateOfBirth | date : "dd/MM/yyyy"}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;">Giới tính</h4>
                        <ng-container *ngIf="user.sex == 1; else Nu">
                          <p class="card-text">Nam</p>
                        </ng-container>
                        <ng-template #Nu>
                          <p class="card-text">Nữ</p>
                        </ng-template>
                        
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body">
                        <h4 class="card-title text-uppercase" style="margin-bottom: 0.7rem;"> Địa chỉ</h4>
                        <p class="card-text">{{user.address}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body"></div>
                    </div>
                  </div>

                  <div class="card col-md-4" style="margin-bottom: 0rem;">
                    <div class="card-content">
                      <div class="card-body"></div>
                    </div>
                  </div>

                  <div class="card col-md-4">
                    <div class="card-content">
                      <div class="card-body">
                        <a class="btn btn-outline-primary pull-left" href="">Chỉnh sửa thông tin</a>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- End Profile -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>