<app-header></app-header>
<app-menu></app-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div id="user-profile">
        <div class="row">
          <div class="col-12">
            <div class="card profile-with-cover">
              <div class="media profile-cover-details w-100">
                <div class="media-left pl-2 pt-2">
                  <a class="profile-image"> <img class="rounded-circle img-border height-100" [(ngModel)]="user.avatar" name="avatar" src="/assets/robust-admin/profile.png"
                      alt="Card image">
                  </a>
                </div>
                <div class="media-body pt-3 px-2">
                  <div class="row">
                    <div class="col">
                      <h3 class="card-title"> {{user.firstName}} {{user.lastName}}</h3>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="navbar navbar-light navbar-profile align-self-end">
                <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" aria-expanded="false"
                  aria-label="Toggle navigation"></button>
              </nav>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="tab-content px-1 pt-1"></div>
              <div class="tab-pane" id="link32" role="tabpanel" aria-labelledby="link-tab32" aria-expanded="false">
                <!-- Profile -->

                <div class="form-body">
                  <form class="form" [formGroup]="formImage" method="POST" (ngSubmit)="onSaveImage()"
                  novalidate>
                    <div class="row">
                      <div class="form-group col-md-6 mb-2">
                        <label>Ảnh đại diện</label>
                        <label id="projectinput8" class="file center-block">
                          <input type="file" id="file" name="avatar" (change)="onChangedImage($event)" #fileInput accept=".jpg, .jpeg, .png, .gif" style="margin-left: 5px;">
                          <span class="file-custom" (click)="fileInput.click()"></span>
                        </label>
                        <button type="submit" class="btn btn-primary">
                          <i class="far fa-check-square" style="margin-right: 5px;" (click)="fileInput.click()"></i>Lưu
                        </button>
                      </div>
                    </div>
                  </form>
                  <form class="form" id="frmUser" (ngSubmit)="updateProfile()" action="" method="POST" #f="ngForm"
                    enctype="multipart/form-data" novalidate>
                    <h4 class="form-section">
                      <a id="models-tab" class="nav-link active"><i class="ft-user"></i>Thông tin cá nhân</a>
                    </h4>
                    <div class="row">
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput1">Họ</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                            placeholder="Họ">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="ft-user"></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput2">Tên</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName"
                            placeholder="Tên">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="ft-user"></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput3">E-mail</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" class="form-control input-lg" id="user-name" [(ngModel)]="user.email" name="email"
                            #email="ngModel" placeholder="Email">
                          <div class="form-control-position" style="margin-top: -2px;">
                            <i class="ft-mail"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput4">Số điện thoại</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" id="contact_number" class="form-control" [(ngModel)]="user.phone" name="phone"
                            #phone="ngModel" placeholder="Phone" value="123456789">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="ft-smartphone"></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="timesheetinput">Ngày Sinh</label>
                        <div class="position-relative has-icon-left" style="height: 39.800px;">
                          <input type="date" id="birthday" class="form-control" [(ngModel)]="user.dateTemp"
                            data-date-format="DD MM YYYY" name="date" #date="ngModel" value="2018-08-02" style="height: 39px;">
                          <div class="form-control-position" style="margin-top: -4px;">
                            <i class="ft-calendar"></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="gender">Giới tính</label>
                        <div class="position-relative has-icon-left" style="height: 39.800px;">
                          <select name="gender" class="form-control" id="gender" [(ngModel)]="user.sex" style="height: 39px;">
                            <option value="1" selected="selected">Nam</option>
                            <option value="0">Nữ</option>
                          </select>
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="fa fa-mars-double"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput3"> Địa chỉ</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" id="address" class="form-control" placeholder="Address" [(ngModel)]="user.address"
                            name="address" #address="ngModel" value="Ho Chi Minh">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="far fa-address-book"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions top" style="float: right;">
                      <input class="btn btn-cancel" type="button" value="Quay lại">
                      <button type="submit" class="btn btn-primary">
                        <i class="far fa-check-square" style="margin-right: 5px;"></i>Lưu
                      </button>
                    </div>
                  </form>
                </div>
                <!-- End Profile -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>