<div class="bodyy">
  <app-header></app-header>
  <app-menu></app-menu>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <div class="row" style="padding-top: 20px;">
          <div class="col-md-3 sidebar" id="sidebar">
            <div class="card">
              <div class="aside-body">
                <aside>
                  <div class="aside-body">
                    <figure class="ads">
                      <img src="/assets/magz-master/images/news/ad.jpg">
                      <figcaption>Advertisement</figcaption>
                    </figure>
                  </div>
                </aside>
              </div>
              <aside>
                <h1 class="aside-title">Recent Post</h1>
                <div class="aside-body">
                  <article class="article-fw">
                    <div class="inner">
                      <figure>
                        <a href="">
                          <img src="/assets/magz-master/images/news/img16.jpg">
                        </a>
                      </figure>
                      <div class="details">
                        <h1><a href="">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit</a></h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="detail">
                          <div class="time">December 26, 2016</div>
                          <div class="category"><a href="">Lifestyle</a></div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <div class="line"></div>
                  <article class="article-mini">
                    <div class="inner">
                      <figure>
                        <a href="">
                          <img src="/assets/magz-master/images/news/img05.jpg">
                        </a>
                      </figure>
                      <div class="padding">
                        <h1><a href="">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                        <div class="detail">
                          <div class="category"><a href="">Lifestyle</a></div>
                          <div class="time">December 22, 2016</div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <article class="article-mini">
                    <div class="inner">
                      <figure>
                        <a href="">
                          <img src="/assets/magz-master/images/news/img02.jpg">
                        </a>
                      </figure>
                      <div class="padding">
                        <h1><a href="">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                        <div class="detail">
                          <div class="category"><a href="">Travel</a></div>
                          <div class="time">December 21, 2016</div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <article class="article-mini">
                    <div class="inner">
                      <figure>
                        <a href="">
                          <img src="/assets/magz-master/images/news/img13.jpg">
                        </a>
                      </figure>
                      <div class="padding">
                        <h1><a href="">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                        <div class="detail">
                          <div class="category"><a href="category.html">International</a></div>
                          <div class="time">December 20, 2016</div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </aside>
              <aside>
                <div class="aside-body">
                  <form class="newsletter">
                    <div class="icon">
                      <i class="ion-ios-email-outline"></i>
                      <h1>Newsletter</h1>
                    </div>
                    <div class="input-group">
                      <input type="email" class="form-control email" placeholder="Your mail">
                      <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                      </div>
                    </div>
                    <p>By subscribing you will receive new articles in your email.</p>
                  </form>
                </div>
              </aside>
            </div>
          </div>
          <div class="col-md-9">
            <div class="app-content content">
              <div class="content-wrapper" style="padding-top: 0px;">
                <section id="image-grid" class="card" style="padding-top: 0px;">
                  <div class="card-content">
                    <div class="card-header" style="padding-top: 0px;">
                      <div class="media">
                        <div class="media-left mr-1">
                          <h2 class="text-uppercase" text="">{{item.title}}</h2>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left mr-1">
                          <a href="#"> <span class="avatar avatar-md avatar-busy"><img src="assets/robust-admin/app-assets/images/portrait/small/avatar-s-18.png"
                                alt="avatar"><a href="" text=""> {{item.userCreated}}</a></span><i></i></a>
                        </div>
                        <div class="media-body">
                          <div class="detail">
                            <div class="time">Ngày đăng: {{item.dateCreated | date : "dd/MM/yyyy"}}</div>
                            <div class="category"><a href="">Danh Mục</a></div>
                          </div>
                        </div>
                        <div class="media-body">
                          <div class="col-sm-10 text-right pull-right">
                            <ul class="list-inline">
                              <li class="pr-1"><a href="#" class=""><span class="fa fa-eye"></span> Views <span class="badge badge-pill badge-info float-right"
                                    text="">{{item.views}}</span></a></li>
                              <li class="pr-1"><a href="#" class=""><span class="fa fa-thumbs-up"></span> Likes <span
                                    class="badge badge-pill badge-info float-right" text="">{{item.likes}}</span></a></li>
                              <li class="pr-1"><a href="#" class=""><span class="far fa-comment-dots"></span> Comments
                                  <span class="badge badge-pill badge-info float-right" text="">{{item.comment}}</span></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" text="">
                      <h5 class="text-uppercase" text="">{{item.shortDesc}}</h5>
                      <figure class="image"> <img [src]="selectedImg" style="width: 65%;height: 65%;margin-left: 140px;"></figure>
                    </div>
                    <div class="card-body">
                      <div [innerHTML]="item.fullDesc"></div>
                    </div>

                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-lg-6">
                          <a href="#" class="btn btn-outline-info text-uppercase" style="width: 100%; margin-bottom: 20px;">
                            <span class="fa fa-thumbs-up"></span> Like</a>
                        </div>
                        <div class="col-lg-6">
                          <a href="#" class="btn btn-outline-info text-uppercase" style="width: 100%; margin-bottom: 20px;">
                            <span class="ft-share"></span> Share</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer px-0 py-0">
                      <div class="card-body">
                        <div class="media">
                          <div class="media-left mr-1">
                            <h4>Comment (2)</h4>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left mr-1">
                            <a href="#"> <span class="avatar avatar-online"><img src="assets/robust-admin/app-assets/images/portrait/small/avatar-s-18.png"
                                  alt="avatar"></span></a>
                          </div>
                          <div class="media-body">
                            <p class="text-bold-600 mb-0">
                              <a href="#">Crystal Lawson</a>
                            </p>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                              sollicitudin commodo.</p>
                            <ul class="list-inline">
                              <li class="pr-1"><a href="#" class=""><span class="fa fa-thumbs-up"></span> Like <span
                                    class="badge badge-pill badge-info float-right">123</span></a></li>
                              <li class="pr-1"><a href="#" class=""><span class="far fa-comment-dots"></span> Reply
                                  <span class="badge badge-pill badge-info float-right">123</span></a></li>
                            </ul>
                            <div class="media">
                              <div class="media-left mr-1">
                                <a href="#"> <span class="avatar avatar-online"><img src="assets/robust-admin/app-assets/images/portrait/small/avatar-s-18.png"
                                      alt="avatar"></span></a>
                              </div>
                              <div class="media-body">
                                <p class="text-bold-600 mb-0">
                                  <a href="#">Rafila GÄƒitan</a>
                                </p>
                                <p>Gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <fieldset class="form-group position-relative has-icon-left mb-0">
                          <input type="text" class="form-control" placeholder="Write comments...">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="far fa-comment-dots"></i>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="content-wrapper" style="padding-top: 0px;">
                <div class="col-md-4">
                  <div class="card-content">
                    <div>
                      <ng-container *ngIf="mod == 'true'; else isnotmod">
                        <button class="btn btn-outline-primary pull-left" (click)="onSetStatus()" href="" style="margin-right: 10px;">{{kichhoat}}</button>
                      </ng-container>
                      <ng-template #isnotmod>

                      </ng-template>
                    </div>
                  </div>
                  <div class="card-content">
                    <div>
                      <ng-container *ngIf="isDelete == 'true'; else notmod">
                        <button class="btn btn-outline-primary pull-left" (click)="onSetDelete()" href="">Xóa bài</button>
                      </ng-container>
                      <ng-template #notmod>

                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-wrapper" style="padding-top: 15px;">
            <div class="col-md-12">
              <div class="card-header" style="padding-left: 0px;">
                <h4 class="card-title">Quản lý danh mục của tin tức</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              </div>
              <ng-container *ngIf="mod == 'true'; else nnotmod">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                  <thead>
                    <tr>
                      <th *ngFor="let cat of catList"> {{cat.name}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX">
                      <td *ngFor="let cat of catList">
                        <input type="checkbox" [(ngModel)]="cat.isOfItem" ng-init="checked = cat.isOfItem" class="checkboxes"
                          value={{cat.id}} (change)="toggleRoleOfUser($event)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-template #nnotmod>

              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>