<app-header></app-header>
<app-menu></app-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Thêm mới tin tức</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Thêm tin tức</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="content-body">
        <!-- Striped label form layout section start -->
        <section id="striped-label-form-layouts">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" id="striped-label-layout-card-center">Đăng tin mới</h4>
                  <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="card-text">
                      <p>Điền đầy đủ các trường sau để đăng tin tức mới</p>
                    </div>
                    <form object="" id="frmNews" enctype="multipart/form-data" action="" method="post" class="form form-horizontal striped-rows form-bordered">
                      <div class="form-body">

                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput2">Danh mục</label>
                          <div class="col-md-9">
                            <select field="" id="news" name="news" class="form-control" style="height: calc(2.675rem + 2px);">
                              <option each="" value="" text=""></option>
                            </select>
                          </div>
                          <div class="col-md-1" style="border-left: none;">
                            <a th:href=""> <button type="button" class="form-group btn btn-default"> <i class="ft ft-settings"></i> </button></a>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput1">Tiêu đề</label>
                          <div class="col-md-9">
                            <input field="" type="text" id="title" class="form-control" placeholder="Nhậ­p tiêu đề tin tức" name="title">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 label-control">Ảnh đại diện</label>
                          <div class="col-md-9" id="uploadFile">
                            <label id="projectinput8" class="file center-block">
                              <input type="file" name="main-image" id="file" accept="image/*"> <span class="file-custom"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput3">Mô tả vắn tắt</label>
                          <div class="col-md-9">
                            <input field="" type="text" id="shortDesc" class="form-control" placeholder="Nhậ­p mô tả vắn tắt" name="shortDesc">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput4">Nội dung</label>
                          <div class="col-md-9">
                            <textarea ckeditor="editorOptions" ng-model="modelName" field="" rows="12" class="form-control ckeditor" name="content" placeholder="Soạn thảo vào định dạng nội dung tin tức"></textarea>
                          </div>
                        </div>

                      </div>
                      <div class="form-actions">
                        <div class="row">
                          <div class="col-md-3 offset-md-1">
                            <button type="button" class="btn btn-lg btn-block font-medium-1 btn-outline-cyan mb-1 block-without-msg">
                              <i class="ft-check-circle"></i> Xem trước khi đăng
                            </button>
                          </div>
                          <div class="col-md-3 offset-md-1">
                            <button type="submit" class="btn btn-lg btn-block font-medium-1 btn-outline-cyan mb-1 block-without-msg">
                              <i class="ft-plus-circle"></i> Thêm tin tức mới
                            </button>
                          </div>
                          <div class="col-md-2 offset-md-1">
                            <a class="btn btn-lg btn-block font-medium-1 btn-outline-cyan mb-1 block-without-msg" href="">
                              <i class="ft-x-circle"></i> Hủy
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>