<app-header></app-header>
<app-menu></app-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Quản lý tin tức</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Quản lý tin tức</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="file-export">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form action="#" method="post">
                <div class="card-header">
                  <h4 class="card-title">Quản lý tin tức</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <a class="btn btn-primary btn-sm" href=""><i class="ft-plus white"></i> Thêm tin tức</a>
                  </div>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Người Viết</th>
                          <th>Tiêu Đề</th>
                          <th>Nội Dung Vắn Tắt</th>
                          <th>Trạng thái</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items">
                          <td (click)="onGotoItemDetail(item.id)">{{item.userCreated}}</td>
                          <td (click)="onGotoItemDetail(item.id)">{{item.title}}</td>
                          <td (click)="onGotoItemDetail(item.id)">{{item.shortDesc}}</td>    
                         <ng-container *ngIf="item.status == 0 ; else itemApprove">
                          <td (click)="onGotoItemDetail(item.id)">Chưa được duyệt</td>
                         </ng-container>
                         <ng-template #itemApprove>
                           <ng-container *ngIf="item.status == 1; else elseDelete">
                            <td (click)="onGotoItemDetail(item.id)">Đang sử dụng</td>
                           </ng-container>
                           <ng-template #elseDelete>
                            <td (click)="onGotoItemDetail(item.id)">Đã xóa</td>
                           </ng-template>                           
                         </ng-template>                       
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>