<div class="bodyy">
  <app-header></app-header>
  <app-menu></app-menu>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="category">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <div class="row">
                  <div class="col-md-12">
                    <ol class="breadcrumb">
                      <li><a href="">Home </a></li>
                      <li><a style="margin-left: 3px;margin-right: 3px;">/</a></li>
                      <li class="active">{{catName}}</li>
                    </ol>
                    <h1 class="page-title">Danh mục: {{catName}}</h1>
                    <p class="page-subtitle">Hiển thị tất cả các bài viết với thể loại <i> {{catName}}</i></p>
                  </div>
                </div>
                <div class="line"></div>
                <div class="row">
                    <div *ngFor="let item of items">
                  <article class="col-md-12 article-list">
                    <div class="inner">
                      <figure>
                        <a href="/newsdetail/{{item.id}}">
                          <img [src]="item.image">
                        </a>
                      </figure>
                      <div class="details">
                        <div class="detail">
                          <div class="category">
                            <a href="/newscategory/{{id}}">{{catName}}</a>
                          </div>
                          <div class="time">{{item.dateUpdated}}</div>
                        </div>
                        <h1><a href="/newsdetail/{{item.id}}">{{item.title}}</a></h1>
                        <p>{{item.shortDesc}}</p>
                        <footer>
                          <a href="" class="love"><i class="ion-android-favorite-outline"></i>
                            <div>237</div>
                          </a>
                          <a class="btn btn-primary more" href="/newsdetail/{{item.id}}">
                            <div>More</div>
                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                          </a>
                        </footer>
                      </div>
                    </div>
                  </article>
                    </div>
                  <div class="col-md-12 text-center">
                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center pagination-separate pagination-curved">
                        <li class="page-item" [className]="current==0?'disabled':'enable'">
                          <a class="page-link" href="#" aria-label="Previous" (click)="onPrePage()">
                            <span aria-hidden="true">Prev</span>
                          </a>
                        </li>
                        <li class="page-item" [className]="ite === current ? 'active' : 'inactive'" *ngFor="let ite of pageArray">
                          <a class="page-link" (click)="onGotoPage(ite)">{{ite + 1}}</a>
                        </li>
                        <li class="page-item" [className]="current==pageNumber-1?'disabled':'enable'">
                          <a class="page-link" href="#" aria-label="Next" (click)="onNextPage()">
                            <span aria-hidden="true">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-md-4 sidebar">
                <aside>
                  <div class="aside-body">
                    <figure class="ads">
                      <a href="single.html">
                        <img src="/assets/magz-master/images/ad.png">
                      </a>
                      <figcaption>Advertisement</figcaption>
                    </figure>
                  </div>
                </aside>
                <aside>
                  <h1 class="aside-title">Recent Post</h1>
                  <div class="aside-body">
                    <article class="article-fw">
                      <div class="inner">
                        <figure>
                          <a href="single.html">
                            <img src="/assets/magz-master/images/news/img12.jpg">
                          </a>
                        </figure>
                        <div class="details">
                          <h1><a href="single.html">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit</a></h1>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                          <div class="detail">
                            <div class="time">December 26, 2016</div>
                            <div class="category"><a href="category.html">Lifestyle</a></div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <div class="line"></div>
                    <article class="article-mini">
                      <div class="inner">
                        <figure>
                          <a href="single.html">
                            <img src="/assets/magz-master/images/news/img05.jpg">
                          </a>
                        </figure>
                        <div class="padding">
                          <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                          <div class="detail">
                            <div class="category"><a href="category.html">Lifestyle</a></div>
                            <div class="time">December 22, 2016</div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article class="article-mini">
                      <div class="inner">
                        <figure>
                          <a href="single.html">
                            <img src="/assets/magz-master/images/news/img02.jpg">
                          </a>
                        </figure>
                        <div class="padding">
                          <h1><a href="single.html">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                          <div class="detail">
                            <div class="category"><a href="category.html">Travel</a></div>
                            <div class="time">December 21, 2016</div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article class="article-mini">
                      <div class="inner">
                        <figure>
                          <a href="single.html">
                            <img src="/assets/magz-master/images/news/img13.jpg">
                          </a>
                        </figure>
                        <div class="padding">
                          <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                          <div class="detail">
                            <div class="category"><a href="category.html">International</a></div>
                            <div class="time">December 20, 2016</div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </aside>
                <aside>
                  <div class="aside-body">
                    <form class="newsletter">
                      <div class="icon">
                        <i class="ion-ios-email-outline"></i>
                        <h1>Newsletter</h1>
                      </div>
                      <div class="input-group">
                        <input type="email" class="form-control email" placeholder="Your mail">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                        </div>
                      </div>
                      <p>By subscribing you will receive new articles in your email.</p>
                    </form>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>