<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div id="user-profile">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="tab-content px-1 pt-1"></div>
              <div class="tab-pane" id="link32" role="tabpanel" aria-labelledby="link-tab32" aria-expanded="false">
                <!-- Start -->
                <div class="form-body">
                  <form class="form" id="frm" (ngSubmit)="createCat()" action="" method="POST" #f="ngForm" enctype="multipart/form-data"
                    novalidate>
                    <h4 class="form-section">
                      <a id="models-tab" class="nav-link active"><i class="ft-user"></i>Thông tin danh mục</a>
                    </h4>
                    <div class="row">
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput1">Tên Danh Mục</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="cat.name"
                            placeholder="Tên danh mục">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="ft-user"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions" style="float: right;">
                      <input class="btn btn-cancel" type="button" value="Quay lại">
                      <button type="submit" class="btn btn-primary">
                        <i class="far fa-check-square" style="margin-right: 5px;"></i>Lưu
                      </button>
                    </div>
                  </form>
                </div>
                <!-- End -->
                <div class="form-body">
                  <form class="form">
                    <h4 class="form-section">
                      <a id="models-tab" class="nav-link active"><i class="ft-user"></i>Thông tin danh mục con</a>
                    </h4>
                  </form>
                  <div class="form" id="frmUser">
                    <div class="row">
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput1">Tên Danh Mục Cha</label>
                        <select class="form-control input-lg" id="LargeSelect" [(ngModel)]="selectedOption" (change)="changeSelected($event)"
                          style="font-size: 1rem; height: 2.85rem;">
                          <option *ngFor="let catt of catList" [value]="catt.id">{{ catt.name }}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4 mb-2">
                        <label for="projectinput1">Tên Danh Mục Con</label>
                        <div class="position-relative has-icon-left">
                          <input type="text" class="form-control" id="sCatname" name="sCatname" placeholder="Tên danh mục"
                            [(ngModel)]="sCatname">
                          <div class="form-control-position" style="margin-top: -3px;">
                            <i class="ft-user"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions top" style="float: right;">
                      <input class="btn btn-cancel" type="button" value="Quay lại">
                      <button type="submit" (click)="createSCat()" class="btn btn-primary">
                        <i class="far fa-check-square" style="margin-right: 5px;"></i>Lưu
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>