<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border" data-scroll-to-active="true">
        <div class="main-menu-content">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                        <li class="nav-item"><a><i class="icon-home"></i><span class="menu-title" data-i18n="nav.dash.main">Dashboard</span></a>
                                <ul class="menu-content">
                                        <div *ngIf="email">
                                                <li><a class="menu-item" href="/profile/-1" data-i18n="nav.dash.project">Thông
                                                                tin cá nhân</a>
                                                </li>
                                                <li><a class="menu-item" href="/editpassword" data-i18n="nav.dash.project">Thay đổi mật khẩu</a>
                                                </li>
                                        </div>
                                        <div *ngIf="isAdmin == true">
                                                <li><a class="menu-item" href="/usersmanagement" data-i18n="nav.dash.project">Quản
                                                                lý người dùng</a>
                                                </li>
                                                <li><a class="menu-item" href="/rolesmanagement" data-i18n="nav.dash.ecommerce">Quản
                                                                lý quyền</a>
                                                </li>
                                                <li><a class="menu-item" href="/rolecreate" data-i18n="nav.dash.ecommerce">Tạo quyền</a>
                                                </li>
                                        </div>
                                        <div *ngIf="isMod == true">
                                                <li><a class="menu-item" href="/catmanagement" data-i18n="nav.dash.ecommerce">Quản
                                                                lý danh mục</a>
                                                </li>
                                                <li><a class="menu-item" href="/catcreate" data-i18n="nav.dash.ecommerce">Tạo
                                                                danh mục</a>
                                                </li>
                                                <li><a class="menu-item" href="/newsmanagement" data-i18n="nav.dash.ecommerce">Quản
                                                                lý tin tức</a>
                                                </li>
                                        </div>
                                        <div *ngIf="isCreate == true">
                                                <li><a class="menu-item" href="/newstyping" data-i18n="nav.dash.ecommerce">Tạo
                                                                tin tức</a>
                                                </li>
                                        </div>
                                </ul>
                        </li>
                        <li class="nav-item"><a><i class="icon-folder"></i><span class="menu-title" data-i18n="nav.category.main">Danh
                                                Mục</span></a>
                                <ul class="menu-content" *ngFor="let cat of catList">
                                        <li><a class="menu-item" href="/newscategory/{{cat.id}}" data-i18n="nav.dash.project">{{cat.name}}</a>
                                        </li>
                                </ul>
                        </li>
                </ul>
        </div>
</div>